<%= bootstrap_devise_error_messages! %>

<div class="row" id="devise-form">

  <div class="col-sm-6 col-sm-offset-3 ">
    <div class="panel panel-default">

      <div class="panel-body">

        <h4 class="text-center">Resend confirmation instructions</h4>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: "form" }) do |f| %>

        <div class="row">
          <div class="form-group col-sm-10 col-sm-offset-1">
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email" %>
          </div>

          <div class="col-sm-12 text-center">
            <%= f.submit "Resend confirmation instructions", class: "btn btn-primary margin-bottom-fix" %>
          </div>

        </div>
        <!-- end of row for form -->
        <% end %>

      </div>

    </div>

    <%= render "devise/shared/links" %>

  </div>
</div>
