<div class="row">
  <% if policy(@user).show? %>
  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-heading">
        <h2 class="text-center">Private Wikis</h2>
      </div>
      <%= render partial: 'wikis/wiki', collection: @private_wikis, as: :wiki %>
      <div class="digg-pagination">
        <div class="page-info text-center">
          <%= page_entries_info @private_wikis %>
        </div>
        <div class="text-center">
          <%= will_paginate @private_wikis, param_name: "private_page", previous_label: previous_page, next_label: next_page %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-heading">
        <h2 class="text-center">Public Wikis</h2>
      </div>
      <%= render partial: 'wikis/wiki', collection: @public_wikis, as: :wiki %>
      <div class="digg-pagination">
        <div class="page-info text-center">
          <%= page_entries_info @public_wikis %>
        </div>
        <div class="text-center">
          <%= will_paginate @public_wikis, param_name: "public_page", previous_label: previous_page, next_label: next_page %>
        </div>
      </div>
    </div>
  </div>
  <% if policy(@user).show? %>
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-heading">
        <h2 class="text-center">Editor for Wikis</h2>
      </div>
      <%= render partial: 'wikis/wiki', collection: @editor_wikis, as: :wiki %>
      <div class="digg-pagination">
        <div class="page-info text-center">
          <%= page_entries_info @editor_wikis %>
        </div>
        <div class="text-center">
          <%= will_paginate @editor_wikis, param_name: "editor_page", previous_label: previous_page, next_label: next_page %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
