<div class="row">
  <% if policy(@user).show? %>
  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-heading">
        <h2 class="text-center">Private Wikis</h2>
      </div>
      <%= render partial: 'wikis/wiki', collection: @private_wikis, as: :wiki %>
      <%= will_paginate @private_wikis, param_name: "private_page" %>
    </div>
  </div>
  <% end %>
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-heading">
        <h2 class="text-center">Public Wikis</h2>
      </div>
      <%= render partial: 'wikis/wiki', collection: @public_wikis, as: :wiki %>
      <%= will_paginate @public_wikis, param_name: "public_page" %>
    </div>
  </div>
  <% if policy(@user).show? %>
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-heading">
        <h2 class="text-center">Editor for Wikis</h2>
      </div>
      <%= render partial: 'wikis/wiki', collection: @editor_wikis, as: :wiki %>
      <%= will_paginate @editor_wikis, param_name: "editor_page" %>
    </div>
  </div>
  <% end %>
</div>
