<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <p class="copyright text-center">&copy; 2015 by <a href="http://drassiner.com/", target="_blank">Drassiner</a>. All Rights Reserved.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="social social-circle">
        <li>
          <%= link_to "https://twitter.com/", target: "_blank" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.facebook.com/daniel.rassiner", target: "_blank" do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.youtube.com/channel/UC_-Zt4dWU1bT52tG-DHGftg", target: "_blank" do %>
            <i class="fa fa-youtube"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.linkedin.com/in/drassiner", target: "_blank" do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://github.com/toyhammered", target: "_blank" do %>
            <i class="fa fa-github"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
