<%= form_for wiki do |f| %>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', id: 'body-edit-area', placeholder: "Enter wiki description" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Preview" %>
        <div id="body-preview"></div>
      </div>
    </div>
  </div>

  <% if current_user.admin? || current_user.premium? %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" style="margin-left:20px;">
          <%= f.label :private, class: 'checkbox' do %>
            <%= f.check_box :private %> Private?
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
